# Pandas and APL

I've just started working on a small, simple personal project to keep track of how much, and how fast, I walk each day.

I could spend a king's ransom on specialised hardware, but Google already knows the data, and there's a neat FOSS [plugin](https://chrome.google.com/webstore/detail/timeline-exporter) that allows me to export Google's location data to a csv file.

I'm going to be looking at a week at a time. My goal is to how much I walked each day, at what average speed, and to note days I didn't walk at all.

I started working on it using Python's pandas package. Pandas is the tool of choice for Daya Analysts working in Python. As I worked on the project I kept thinging 'this is *easy* in Pandas, but it would be **trivial** in APL'.

This notebook shows what I did so far in Pandas. The next shows the beginnings of the APL version.

Here's the start to the Pandas version:

In [1]:
import pandas as pd

In [2]:
cols = [
    'timeBegin',
    'duration',
    'category',
    'distance'
]
df = pd.read_csv('../data/location-data/2021-29-11_2021-28-11.csv',
                 usecols=cols)
df['date'] = pd.to_datetime(df['timeBegin']).apply(lambda x: x.date())
df.head()

                  timeBegin   duration     category  distance        date
0  2021-10-31T11:52:52.723Z  179910902          NaN         0  2021-10-31
1  2021-11-02T13:51:23.625Z    1011562      Walking       907  2021-11-02
2  2021-11-02T14:08:15.187Z   70305739          NaN         0  2021-11-02
3  2021-11-03T09:40:00.926Z     364320      Walking       668  2021-11-03
4  2021-11-03T09:46:05.246Z     655603  Post Office         0  2021-11-03

In [3]:
walking = df[df['category'] == 'Walking']
walking.head()

                   timeBegin  duration category  distance        date
1   2021-11-02T13:51:23.625Z   1011562  Walking       907  2021-11-02
3   2021-11-03T09:40:00.926Z    364320  Walking       668  2021-11-03
5   2021-11-03T09:57:00.849Z    385324  Walking       669  2021-11-03
10  2021-11-03T11:45:49.095Z    398238  Walking      1941  2021-11-03
12  2021-11-03T14:12:16.057Z    418900  Walking       653  2021-11-03